---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre Nosotros"
	description="Somos un equipo de desarrolladores web apasionados por crear soluciones innovadoras y de alta calidad."
	pubDate={new Date()}
>
	<p>Somos un equipo de desarrolladores web apasionados por crear soluciones innovadoras y de alta calidad.</p>
	<p>Nundusoft es una empresa de desarrollo de software que se dedica a crear soluciones innovadoras y de alta calidad para nuestros clientes.</p>
	<p>Nuestro equipo de desarrolladores está formado por profesionales altamente capacitados y con una gran experiencia en el desarrollo de software.</p>
	<p>Nuestro objetivo es crear soluciones de software que satisfagan las necesidades de nuestros clientes y que les permitan mejorar su eficiencia y productividad.</p>
</Layout>
