---
const today = new Date();
---

<footer>
	<a href="https://nundusoft.com">Nundusoft</a> | &copy; {today.getFullYear()}
</footer>

<style>
	footer {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 15px 0;
		text-align: center;
		font-size: 12px;
		background: #f6f6ef;
		border-top: 2px solid #ff6600;
	}

	a {
		color: #828282;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
</style>
